{% if error %}
    {{ error }}
{% else %}
    Hi. My name is <strong>{{ process.name }}</strong>.
    I'm <strong>{{ process.desc }}</strong>.
    In the prison they gave me a number.
    That number is <strong>{{ process.pid }}</strong>.
    {% if process.ppid == 0 %}
    I'm like Batman.
    I have no parent(s).
    Let me die, <a href="{{ url_for('kill', pid=process.pid) }}">kill me</a>.
    {% else %}
    My only parent is <strong>{{ process.parent_name }}</strong> but you can <a href="{{ url_for('kill', pid=process.pid) }}">kill me</a> anyway.
    {% endif %}
{% endif %}
